<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resume</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Work Experience</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">{{ site.data.resume.work.company }}</p> -->
                                    <h5>Fall 2016-Present</h5>
                                    <p class="text-muted"><em>EWU Housing and Residential Life</em></p>
                                    <p class="text-muted">Community Advisor</p>
                                    <p class="text-muted">Create flyers, bulletin boards, and programs that are engaging and education for my floor and building. Keep contact with supervisor, co-workers, and residents everyday.</p>
                                    
                                    <h5>Summer Season 2015-2018</h5>
                                    <p class="text-muted"><em>BAC Transportation</em></p>
                                    <p class="text-muted">Reservations</p>
                                    <p class="text-muted">Friendly customer service through the phone and email on a daily basis.Multi-tasking between phone calls, emails, and customers coming to reservations</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Education</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">{{ site.data.resume.education.institution }}</p> -->
                                    <h5>Fall 2015-Fall 2019</h5>
                                    <p class="text-muted"><em>Eastern Washington University</em></p>
                                    <p class="text-muted">Bachelor of Arts in Visual Communication Design</p>
                                    <p class="text-muted">Publicity Officer of the National Residence Hall Honorary for two years and the upcoming President. Member of the National Society of Collegiate Scholars. Cumalative <em>3.97</em> GPA</p>
                                    
                                    <h5>May 2015</h5>
                                    <p class="text-muted"><em>West Anchorage High School</em></p>
                                    <p class="text-muted">High School Diploma</p>
                                    <p class="text-muted">Cumalative 3.8 GPA</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Volunteer</h4>
                                </div>
                                <div class="timeline-body">                                   
                                    <h5>Fall 2015-Present</h5>
                                    <p class="text-muted"><em>Various Projects in Cheney and Spokane</em></p>
                                    <p class="text-muted">Raised over $300 and created toys and blankets for the Spokane Humane Society. Participated in community service on Martin Luther King Jr. Day of Service at the House of Charity, SCRAPS, and cleaned homes. Facilitated Penny and Can Wars for Feed Cheney. Spent time raising money and donating time for Vanessa Behan Crisis Nursery. Put on a fundraising even for Turnbull National Refuge.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Awards</h4>
                                </div>
                                <div class="timeline-body">
                                    <h5>Spring 2018</h5>
                                    <p class="text-muted"><em>Community Advisor of the Year</em></p>
                                    <p class="text-muted">EWU Housing and Residential Life</p>
                                    <p class="text-muted">Awarded with CA of the Year, which was voted on by peers and then selected by the housing department for going above and beyond the call of duty.</p>
                                    
                                    <h5>2015-2018</h5>
                                    <p class="text-muted"><em>Dean's List</em></p>
                                    <p class="text-muted">Eastern Washington University</p>
                                    <p class="text-muted">Been on the Dean's List every quarter since starting college in Fall 2015 and is awarded for recieving above a 3.5 GPA.</p>
                                    
                                    <h5>Spring 2017</h5>
                                    <p class="text-muted"><em>Bronze Pin</em></p>
                                    <p class="text-muted">Eastern Washington University</p>
                                    <p class="text-muted">Awarded a bronze pin for exceding in leadership as a Community Advisory, Publicity Adviser in the National Residence Hall Honorary, and attending a National Leadership Conference where my program was top 50 out of the country.</p>
                                    
                                    <h5>Spring 2017</h5>
                                    <p class="text-muted"><em>Rookie of the Year</em></p>
                                    <p class="text-muted">EWU Housing and Residential Life</p>
                                    <p class="text-muted">Recieved Rookie of the Year out of all new Community Advisors. Recieved from peers voting and then the housing department selecting a win from those votes.</p>
                                    

                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>More
                                    <br>To
                                    <br>Come!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>